.balance-container {
    width: 100%;
    height: 100vh;
}

.top-nav {
    display: flex;
    height: 5%;
    width: 100%;
}

    .margin-left {
        width: 15%;
        background-color: #2B2B2B;
    }
.p-avatar{
    margin-right: 1%;
}
.top-nav ul {
    width: 85%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #D9D9D9;
    font-size: 80%;   
    
}

.top-nav li {
    list-style: none;
    padding-left: 0;
    margin-right: 2%;
}

.top-nav span{
    font-weight: bold;
    font-size: 14px;
   
}
.main-content {
    padding: 2% 5%;
}

.main-content h1 {
    margin-bottom: 3%;
    font-size: 45px;
}

.menu {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10%;
    /* padding: 12px 24px;
    gap: 10px; */
}

.filtering-data p-menu {
    background-color: #2B2B2B;
    width: 100%;
    border-radius: 0;
    border: none;
}

.finantial-balance {
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}

.wallet-name {
    display: flex;
    background-color: #D9D9D9;
    width: 20%;
    border-radius: 20px;
    height: 143px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.finantial-organization {
    display: flex;
    /* flex-direction: row; */
    margin-left: 2%;
    height: 143px;
    font-size: 16px;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    
}
.finantial-framework{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    margin-bottom: 2%;
}
.finantial-framework label{
    font-weight: bold;
    margin-bottom: 30%;
}
.finantial-framework span{
    font-size: 12px;
}

.filtering-data {
    display: flex;
    height: 10%;
    margin-bottom: 5%;
    flex-direction: column;
    width: 80%;
    
}
.filtering-data .period{
    margin-bottom: 0.5%;
}
.filtering-data .botoes{
    height: 100%;
    /* margin-right: 10%; */
    width: 100%;
    display:flex;
    justify-content:space-between   ;
}

.filtering-data .p-inputtext{
    width: 25%;
    height: 70%;
    margin-right: -5%;
}

.filtering-data button {
    font-size: 12px;
    width: 10%;
    height:70%;
    /* margin-left: -12%; */
}
#advanced-filter{
    width:20%;
    background-color: white;
    color: #009BE7;
    border: none;
    margin-left: -7%;
    box-shadow: 0px 10px 14px -3px rgba(0,0,0,0.1);
}

.data-table{
    width: 80%;
}