@media screen and (max-width: 670px){

  .balance-main-content h1{
    margin-bottom: 8% !important;
  }

  .wallet-name{
    width: 40% !important;
   
  }
  .wallet-name .p-button {

    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .finantial-balance {
    
    flex-direction: column;
    align-items: center;
  }

  .finantial-organization {
    display: flex;
    height: 143px;
    font-size: 16px;
    width: 100% !important;
  }

  .finantial-framework{
    margin-top: 2%;
    margin-right: 2%;
  }
  .finantial-framework span{
    font-size: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .filtering-data .p-button{
    font-size: 10px;
  }

  .filtering-data #advanced-filter{
    width: 40%;
  }

  .filtering-data .p-button-icon-only{
    width: 20%;
  
  }

  .filtering-data .p-splitbutton{
    width: 20%;
    
  }
}

.balance-container {
  width: 100%;
  height: 100vh;
}

.margin-left {
  width: 15%;
  background-color: #2b2b2b;
}

.balance-main-content {
  padding: 2% 5%;
  width: 100%;
}

.balance-main-content h1 {
  margin-bottom: 3%;
  font-size: 45px;
}

.filtering-data p-menu {
  background-color: #2b2b2b;
  width: 100%;
  border-radius: 0;
  border: none;
}

.finantial-balance {
  display: flex;
  margin-bottom: 5%;

}

.wallet-name {
  display: flex;
  background-color: #d9d9d9;
  width: 15%;
  border-radius: 20px;
  height: 143px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.wallet-name .p-button {
  background-color: #d9d9d9;
  color: black;
  border: none;
  transition: none;
  border-radius: 20px;
  height: 100%;
}

.wallet-name .p-button:hover {
  background-color: #d9d9d9;
  border: none;
  color: black;
}

.finantial-organization {
  display: flex;
  /* flex-direction: row; */
  margin-left: 2%;
  height: 143px;
  font-size: 16px;
  width: 60%;
  align-items: center;
  justify-content: space-between;
}
.finantial-framework {
  display: flex;
  flex-direction: column;
}
.finantial-framework label {
  font-weight: bold;
  margin-bottom: 30%;
}
.finantial-framework span {
  font-size: 12px;
}

.filtering-data {
  display: flex;
  height: 10%;
  margin-bottom: 5%;
  flex-direction: column;

}
.filtering-data .label {
  margin-bottom: 0.5%;
}
.filtering-data .botoes {
  height: 100%;
  /* margin-right: 10%; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.botoes .p-calendar{
  height: 100%;
}

.filtering-data .p-inputtext {
  width: 25%;
 
}

.filtering-data button {
  font-size: 12px;
  width: 10%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .filtering-data .p-splitbutton {
  font-size: 12px;
  width: 12%;
  font-weight: bold;
  
} */

#pr_id_111_header{
  font-size: 45px;
  display: flex;
  justify-content: left;
  padding: 2% 5%;
}
#advanced-filter {
  width: 20%;
  background-color: white;
  color: #009be7;
  border: none;
  box-shadow: 0px 10px 14px -3px rgba(0, 0, 0, 0.1);
}

