.balance-container {
  width: 100%;
  height: 90vh;
}

.margin-left {
  width: 15%;
  background-color: #2b2b2b;
}

.main-content {
  padding: 2% 5%;
}

.main-content h1 {
  margin-bottom: 3%;
  font-size: 45px;
}

.filtering-data p-menu {
  background-color: #2b2b2b;
  width: 100%;
  border-radius: 0;
  border: none;
}

.finantial-balance {
  display: flex;
  width: 100%;
  margin-bottom: 5%;
}

.wallet-name {
  display: flex;
  background-color: #d9d9d9;
  width: 20%;
  border-radius: 20px;
  height: 143px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.wallet-name .p-button {
  background-color: #d9d9d9;
  color: black;
  border: none;
  transition: none;
  border-radius: 20px;
  height: 100%;
}

.wallet-name .p-button:hover {
  background-color: #d9d9d9;
  border: none;
  color: black;
}

.finantial-organization {
  display: flex;
  /* flex-direction: row; */
  margin-left: 2%;
  height: 143px;
  font-size: 16px;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}
.finantial-framework {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  margin-bottom: 2%;
}
.finantial-framework label {
  font-weight: bold;
  margin-bottom: 30%;
}
.finantial-framework span {
  font-size: 12px;
}

.filtering-data {
  display: flex;
  height: 10%;
  margin-bottom: 5%;
  flex-direction: column;
  width: 80%;
}
.filtering-data .period {
  margin-bottom: 0.5%;
}
.filtering-data .botoes {
  height: 100%;
  /* margin-right: 10%; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filtering-data .p-inputtext {
  width: 25%;
  margin-right: -5%;
}

.filtering-data button {
  font-size: 12px;
  width: 10%;
  font-weight: bold;
  /* margin-left: -12%; */
}
#advanced-filter {
  width: 100%;
  background-color: white;
  color: #009be7;
  border: none;
  margin-left: -20%;
  height: 100%;
  box-shadow: 0px 10px 14px -3px rgba(0, 0, 0, 0.1);
}

.data-table {
  width: 80%;
}
