@media screen and (max-width: 670px) {

    .due-main-content {
        width: 100% !important;
    }
    .due-main-content h1 {
        font-size: 35px !important;
        margin-bottom: 12% !important;
    }

    .due-buttons .p-button {
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .due-buttons .p-icon{
        height: 10px !important;
    }
    .due-buttons .p-button {
    
    }

    .due-buttons .p-splitbutton {
        font-size: 10px;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
}


.due-main-content {
    padding: 2% 5%;
    width: 85%;
}

.due-main-content h1 {
    margin-bottom: 5%;
    font-size: 45px;
}


.due-filtering {
    display: flex;
    flex-direction: row;
}

.due-filter {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.due-buttons {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 3%;
}   


.button01 {
    width: 40%;
    height: 100%;
}

.button01 .p-dropdown {
    height: 100% !important;
}

.button02 {
    width: 50%;
}

.button02 .p-calendar {
    width: 80%;
}