@media screen and (max-width:500px){
    .inclusao-button .p-button {
        min-width: 100%;
    }
    
    .inclusao-container h1{
        font-size: 15%;
        color: red;
    }
}
@media screen and (min-width:500px) and (max-width:1050px){
    .inclusao-button .p-button {
        min-width: 30%;
    }
} 

.inclusao-container {
    padding: 5% 5%;
    width: 70%;
}

.inclusao-container h1 {
    font-size: 45px;
    margin-bottom: 3%;
    color: black;
}

.inclusao-frame {
    width: 100%;
    color: #4F4F4F;
}

.inclusao-frame .p-inputtext {
    margin-bottom: 5%;
    margin-top: 1%;
}

.inclusao-button {
    display: flex;
    justify-content: flex-end;
}

.inclusao-button .p-button {
    width: 20%;
    background-color: #009BE7;
}
