
.casket-container{
    width: 100%;
    
}

.A{
    width:100%;
    display: flex;
    flex-direction: row;
    height: 5vh;
}

.margin{
    width:15%;
    background-color:#2B2B2B;
}
.topbar{
    width: 85%;
    background-color: #D4D4D4;
    display: flex;
}

.topbar ul{
    width: 100%;
    padding:0;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.topbar li{
    text-decoration: none;
    margin-right: 5%;
}

.topbar .p-avatar{
    margin-right: 2%;
   
}

.topbar span{
    font-weight: bold;
    font-size: 14px;
}

.menu {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10%;
    width: 15%;
    /* padding: 12px 24px;
    gap: 10px; */
}

.column-order{
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #2B2B2B;
    height: 95vh;
}


